.statsList{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;

}
.item{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.label{
    font-weight: 700;
}
.quantity{
    display: block;
    font-size: 20px;
}
